@import '@taiga-ui/styles/taiga-ui-theme.less';
@import '@taiga-ui/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/components/textfield.less';
@import '@taiga-ui/styles/components/button.less';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #07080d;
}

app-root,
tui-root {
  display: block;
  min-height: 100%;
}
